nav {
	width: 100vw;
	position: fixed;
	z-index: 3;
	z-index: 54;

	/* background-color: red; */
	/* border: 1px solid black; */
}

nav a {
	text-decoration: none;
	color: black;
}
.mini-nav {
	height: 65px;
	/* border-bottom: 1px solid black; */
	backdrop-filter: blur(80px);
	box-shadow: 0px 0px 300px rgb(227, 228, 237);
	border: 2px solid rgba(255, 255, 255, 0.18);
	border-radius: 0px 0px 10px 10px;
}

.emt-icon {
	height: 60px;
	width: 200px;
}
.blankSpace {
	width: 60px;
	height: 20px;
}
.nav-text {
	font-weight: 600;
	font-size: 0.85rem;
}
#flight-nav:hover,
#hotel-nav:hover,
#train-nav:hover,
#bus-nav:hover {
	text-decoration: underline 3px solid #a4d7ff;
}
.nav-text-active {
	/* background-color: #007aff; */
	/* background-color: #a4d7ff; */
	text-decoration: underline 3px solid #a4d7ff;
	padding: 1px;
	width: fit-content;
	font-weight: 800;
}
/* .nav-box {
	display: flex;
	justify-content: center;
	align-items: center;
} */
.nav-container {
	height: 80px;
	width: 80px;
	align-content: center;
	/* border: 2px solid black; */
}
@media screen and (min-width: 650px) and (max-width: 699px) {
	/* .navigationDiv {
                width: 700px;
            } */
	.nav-container {
		height: 80px;
		width: 60px;
	}
	/* .emt-icon {
		width: 160px;
		border: 2px solid red;
	}
	.emt-icon img {
		height: 50px;
	} */
}
@media screen and (max-width: 649px) {
	.nav-container {
		height: 60px;
		width: 60px;
	}
}
#flight-nav .nav-container {
	background: url(../../public/assests/images/navigation-images/flighticon-unselected.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#flight-nav .nav-container:hover {
	background: url(../../public/assests/images/navigation-images/flight-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#flight-nav .active {
	background: url(../../public/assests/images/navigation-images/flight-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#hotel-nav .nav-container {
	background: url(../../public/assests/images/navigation-images/hotel-icon-unselected.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#hotel-nav .nav-container:hover {
	background: url(../../public/assests/images/navigation-images/hotel-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#hotel-nav .active {
	background: url(../../public/assests/images/navigation-images/hotel-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#train-nav .nav-container {
	background: url(../../public/assests/images/navigation-images/trainicon-unselected.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#train-nav .nav-container:hover {
	background: url(../../public/assests/images/navigation-images/train-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#train-nav .active {
	background: url(../../public/assests/images/navigation-images/train-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#bus-nav .nav-container {
	background: url(../../public/assests/images/navigation-images/busicon-unselected.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#bus-nav .nav-container:hover {
	background: url(../../public/assests/images/navigation-images/bus-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#bus-nav .active {
	background: url(../../public/assests/images/navigation-images/bus-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

/* LOGIN MODAL .CSS */
.login-modal-backdrop .MuiModal-backdrop {
	backdrop-filter: blur(7px);
	background-color: rgba(0, 0, 0, 0.473);
}

.login-form,
.signup-form {
	/* border: 2px solid orange; */
	margin: auto auto;
	position: absolute;

	left: 50%;
	top: 47%;
	transform: translate(-50%, -50%);

	width: 90%;
	/* background-color: white; */
}
.login-form .close-modal-button,
.signup-form .close-modal-button {
	border: none;
	background: none;
	color: rgb(234, 40, 40);
	/* border: 1px solid rgb(174, 171, 171); */
	/* background-color: rgb(255, 143, 143); */
	border-radius: 20px;
	position: absolute;
	height: 35px;
	width: 35px;
	font-size: 1.1rem;
	font-weight: 600;
	top: -17px;
	right: -17px;
	transform: scale(1.1);
}
.login-form .close-modal-button:hover {
	cursor: pointer;
}
.login-form .close-modal-button:active {
	transform: scale(0.8);
	transition: transform 0.5s ease-in-out;
}
.signup-form .close-modal-button {
	top: -21px;
	right: -17px;
}

.login-form h2 {
	font-size: 1.5rem;
}

.single-form-element {
	display: flex;
	flex-direction: column;
	/* row-gap: 5px; */
	border: none;
	/* border: 2px solid aqua; */
	position: relative;
}

.form-elements {
	/* margin-top: 20px; */
	padding: 5px 10px;
}

.single-form-element label {
	font-size: 1rem;
	font-weight: 600;
	/* color: aqua; */
}
.single-form-element input {
	background-color: rgb(24, 24, 24);
	background-color: rgb(232, 240, 254);
	border: 1px solid rgb(63, 61, 61);

	/* border: none; */
	min-height: 35px;
	border-radius: 5px;
	padding: 3px 5px;
	color: white;
	color: black;
}

.single-form-element input:focus {
	outline: none;
	transition-duration: 180ms;
	transition-timing-function: ease-in-out;

	box-shadow: rgb(46, 105, 255) 0px 0px 0px 1px;
	border: none;
	/* border: 1px solid rgb(46, 105, 255); */
}

/*  */

/*  */
/* ImageSlideShow.css */
.image-slider-box {
	position: absolute;
	/* border: 2px solid black; */
	/* margin: 0px 10px; */
	/* max-width: 400px; */
	/* min-width: 300px; */
	height: 240px;
	width: 320px;
	left: 20px;
	top: 22px;
	transition: all 0.3s ease-in-out;
}
.image-slider-box .center-this-div {
	/* display: flex;
justify-content: center;
align-items: center; */
	flex-direction: column;
	text-align: center;
	row-gap: 10px;
}
.image-slider-box .img-box {
	height: 160px;
	width: 160px;
}
.image-slider-box .img-box img {
	height: 100%;
	width: 100%;
}
.text-box h2 {
	margin: 5px;
}

/*  */

.tnc-div {
	width: 80%;
	position: absolute;
	left: 12px;
	bottom: -15px;
	font-size: 0.75rem;
	margin: 20px;
}
.snackbar-anchor .MuiSnackbar-root {
	position: absolute;
	top: -80px;
}
.snackbar-anchor .MuiSnackbarContent-message {
	text-align: center;
	margin: auto auto;
}

.eye-visibility-icon {
	position: absolute;
	top: 28px;
	right: 5px;
}

/* profile */

.user-div {
	text-align: left;
	/* border: 2px solid aqua; */
	/* position: absolute;
	top: 10px; */
	/* cz avatar div has flex so position relative wont work and the parent div login-portal has position relative
	which is why user-div get positioned according to login-portal*/
	background-color: rgba(255, 255, 255, 0.856);
	min-height: 150px;
	min-width: 190px;
	max-width: 250px;
	max-height: max-content;
	z-index: 56;
	border-radius: 10px;
	color: hsl(0, 0, 0);
	font-weight: 500;
	padding: 5px 0px;
}
.user-div-elements-package {
	z-index: 56;
	margin: 10px 2px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 5px;
}
.text-div:hover {
	border-bottom: 1px solid #4dabf5;
}

.text-div {
	z-index: 56;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: fit-content;
	width: fit-content;
	word-wrap: break-word;
}
.text-div span {
	z-index: 56;
	font-style: italic;
}

.arrow-div {
	z-index: 56;
	height: 25px;
	width: 25px;
	/* border: 2px solid red; */
}
