nav {
	width: 100vw;
	position: fixed;
	z-index: 3;
	/* background-color: red; */
	/* border: 1px solid black; */
}
.navigation-div {
	margin: auto auto;
	display: flex;
	flex-direction: row;
	/* justify-content: space-evenly; */
	justify-content: space-between;
	/* margin-left: 18vw; */
	/* margin-right: 18vw; */
	width: 1350px;
	padding: 10px 10px 0px 10px;
	/* padding-top: 10px; */
	background-color: white;
	/* border-bottom: 1px solid black; */
	/* border: 4px solid red; */
	height: 75px;
}
nav a {
	text-decoration: none;
	color: black;
}
.mini-nav {
	height: 55px;
	border-bottom: 1px solid black;
}
.page-navigations-ul {
	list-style-type: none;
	display: flex;
	column-gap: 50px;
}
.page-navigations-ul li {
	/* font-size: 0.75rem; */
	font-weight: 500;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.emt-icon {
	height: 60px;
	width: 200px;
}
.blankSpace {
	width: 60px;
	height: 20px;
}
.nav-text {
	font-weight: 600;
	font-size: 0.85rem;
}
#flight-nav:hover,
#hotel-nav:hover,
#train-nav:hover,
#bus-nav:hover {
	text-decoration: underline 3px solid #a4d7ff;
}
.nav-text-active {
	/* background-color: #007aff; */
	/* background-color: #a4d7ff; */
	text-decoration: underline 3px solid #a4d7ff;
	padding: 1px;
	width: fit-content;
	font-weight: 800;
}
/* .nav-box {
	display: flex;
	justify-content: center;
	align-items: center;
} */
.nav-container {
	height: 80px;
	width: 80px;
	align-content: center;
}
#flight-nav .nav-container {
	background: url(../../public/assests/images/navigation-images/flighticon-unselected.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#flight-nav .nav-container:hover {
	background: url(../../public/assests/images/navigation-images/flight-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#flight-nav .active {
	background: url(../../public/assests/images/navigation-images/flight-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#hotel-nav .nav-container {
	background: url(../../public/assests/images/navigation-images/hotel-icon-unselected.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#hotel-nav .nav-container:hover {
	background: url(../../public/assests/images/navigation-images/hotel-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#hotel-nav .active {
	background: url(../../public/assests/images/navigation-images/hotel-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#train-nav .nav-container {
	background: url(../../public/assests/images/navigation-images/trainicon-unselected.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#train-nav .nav-container:hover {
	background: url(../../public/assests/images/navigation-images/train-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#train-nav .active {
	background: url(../../public/assests/images/navigation-images/train-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#bus-nav .nav-container {
	background: url(../../public/assests/images/navigation-images/busicon-unselected.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}

#bus-nav .nav-container:hover {
	background: url(../../public/assests/images/navigation-images/bus-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#bus-nav .active {
	background: url(../../public/assests/images/navigation-images/bus-icon-selected.svg);
	background-size: 40px 40px;
	background-repeat: no-repeat;
}
