.aboutHomePage {
	background: #f2f2f266;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.aboutHomePage p {
	margin: 10px 250px;
	font-size: 1.15rem;
}
