.titleDiv {
	font-family: "Poppins", sans-serif;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 15px 0;
	flex-direction: column;
	justify-content: center;
}
.title-EO {
	font-size: 2rem;
	position: relative;
}
.title-EO:before {
	content: "";
	background: url("https://www.easemytrip.com/images/offer-img/triwings-left.svg");
	width: 37px;
	height: 37px;
	position: absolute;
	left: -44px;
	top: 15px;
	height: 12px;
	background-size: 100%;
}

.title-EO:after {
	content: "";
	background: url(https://www.easemytrip.com/images/offer-img/triwings.svg);
	width: 37px;
	position: absolute;
	right: -44px;
	top: 15px;
	height: 12px;
	background-size: 100%;
}

.offerTypeTabDIV {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 50px;
	font-size: 1.15rem;
	font-family: "Poppins", sans-serif;
}

.offerTypeBTN {
	padding: 6px 15px;
	border-radius: 40px;
	font-weight: 500;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.offerTypeBTN:hover {
	cursor: pointer;
	background: #bddefa;
	transform: scale(1.03);
	transition: transform 0.5s ease-in-out;
}
.offerTypeBTN:active {
	transform: scale(0.9);
	transition: transform 0.5s ease-in-out;
}

.activeOffer {
	padding: 6px 15px;
	border-radius: 40px;
	font-weight: 500;
	cursor: pointer;
	background: #2196f3;
	color: #fff;
}
.activeOffer:hover {
	cursor: pointer;
	background: #2196f3;
	color: #fff;
	transform: scale(1.03);
	transition: transform 0.5s ease-in-out;
}
.activeOffer:active {
	transform: scale(0.9);
	transition: transform 0.5s ease-in-out;
}
