.flightHomeContainer {
	border: 2px solid black;
	position: absolute;
	top: 11vh;
	height: 110vh;
	border: 2px solid aqua;
}

.flightSearchBox {
	width: 100vw;
	background-image: linear-gradient(to right, #2f80ed, #56ccf2);
	background-color: #2f81ed;
}

.boxTitle {
	text-align: right;
	padding-right: 10vw;
}

.airportsSelection {
	background-color: rgba(255, 255, 255, 0.671);
}
