.flight-home-container {
	position: relative;
	top: 75px;
	left: 0;
	height: max-content;
	width: 100%;
	/* border: 2px solid aqua; */
	/* border-top: 2px solid silver; */
	padding-top: 1px;
}

.airport-selection {
	background-color: rgba(255, 255, 255, 0.671);
}
.MuiBox-root {
	font-size: 0.8rem;
}

.MuiTextField-root {
	width: 220px;
	height: 50px;
}

/* InfoBoxes */
.info-box-main-div {
	margin-top: 20px;
	position: relative;
	/* left: 20vw; */
	height: max-content;
	/* width: 350px; */
	max-width: 1155px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	row-gap: 15px;
}
.single-info-box {
	background: url(../../public/assests/images/icons/double-circle-blue.svg) -17%
		88% no-repeat #fff;
	width: 550px;
	font-size: 12px;
	column-gap: 20px;
	border-radius: 30px 5px 5px;
	border: none;
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.322);
	/* border: 2px solid red; */
}

.single-info-box .icon-box {
	margin: 0px 25px;
}

.single-info-box .text-box {
	margin-right: 20px;
	margin-left: 5px;
	/* border: 2px solid green; */
}
.single-info-box .text-box p {
	margin-left: 5px;
}

.single-info-box .text-box span {
	color: #007aff;
	cursor: pointer;
}

/* FamousTouristAttraction */

.famous-ta-div {
	margin: 20px 0px;
	/* border: 2px solid green; */
}
.ta-list-flexbox {
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 130px;
	row-gap: 60px;
	justify-content: center;
}

.single-ta-div {
	flex-direction: column;
}
.single-ta-div :hover {
	cursor: pointer;
	color: #007aff;
}
/* TravelBlogs */
.travel-blogs-div {
	margin: 20px 0px;
}
.tb-cards-flexbox {
	/* border: 2px solid green; */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 50px;
}
.single-travel-div {
	height: 220px;
	width: 275px;
	/* border: 2px solid black; */
	border-radius: 15px;
	position: relative;
}
.background-image-div,
.background-image-div img,
.single-travel-div .blur-overlay {
	height: 100%;
	width: 100%;
	border-radius: 15px;
}

.single-travel-div .top-content {
	position: absolute;
	width: auto;
	top: 10px;
	left: 15px;
	background: #2196f3;
	padding: 3px 12px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 26px;
	z-index: 2;
	color: #fff;
}

.single-travel-div .blur-overlay {
	position: absolute;
	top: 0;

	background: #0000004d;
}
.single-travel-div .blog-title {
	position: absolute;
	top: 120px;
	left: 15px;
	color: white;
	font-weight: 600;
	font-size: 15px;
	width: 90%;
	z-index: 2;
}
.single-travel-div .read-more {
	background: #5a55558e;
	background: #0000002c;

	backdrop-filter: blur(15px);
	display: flex;
	justify-content: space-around;
	column-gap: 100px;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: white;
	font-weight: 500;
	font-size: 14px;
	/* border: 2px solid black; */
	height: 40px;
	border-radius: 0px 0px 15px 15px;
}

.single-travel-div .read-more p {
	margin: -7px;
}

/* FlightBookingParagraph */
.fb-pg-p {
	margin: 10px 0px;
}
