.main-box-two {
	display: flex;
	box-shadow: 4px 4px 4px rgb(49 144 140 / 75%);
	width: 1024px;
	background-color: white;
	position: relative;
}
.airport-select {
	position: relative;
}
.airport-select-overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 22;
	background-color: aqua;
}

.airport-select-popup-box {
	position: absolute;
	top: 18px;
	left: 37px;
	height: 100%;
	width: 100%;
	z-index: 23;
	background-color: red;
}

/* some temporary styles to move to searchBox.css later */
