.offer-cards-div-main-box {
	/* border: 2px solid blue; */
	position: relative;
}
.offer-cards-div-main-box button {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
	top: 45%;
	border: none;
	color: #2196f3;
	background: white;
}
.offer-cards-div-main-box button:active {
	transform: scale(0.75);
	transition: transform 0.2s ease-in-out;
}
.left-scroll-button {
	left: 0px;
}
.right-scroll-button {
	right: 0px;
}
.offerCardsDiv {
	display: flex;
	flex-direction: row;
	margin: 20px 50px;
	overflow-x: scroll;
	max-width: 85vw;
	flex-wrap: nowrap;
	position: relative;
	scroll-behavior: smooth;
	transition: scroll-behavior 1s cubic-bezier(0, 0, 0.2, 1); /* border: 2px solid red; */
}

.offerCardsDiv::-webkit-scrollbar {
	height: 0px;
	width: 0px;
	border-radius: 25px;
}
.offerCardsDiv::-webkit-scrollbar-track {
	background: aqua;
}
.offerCardsDiv::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 30px;
}
.offerCardsDiv::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

.offerCards {
	width: 450px;
	height: 330px;
	border: 1px solid white;
	/* border: 1px solid rgba(55, 55, 199, 0.63); */
	background-color: white;
	/* background-color: rgba(249, 231, 197, 0.812); */
	box-shadow: 2px 2px 2px 2px rgb(212, 211, 211);
	margin: 10px;
	border-radius: 10px;
	position: relative;

	transition: transform 0.5s ease-in-out;
}

.offerCards:hover {
	transform: scale(1.03);
	transition: transform 0.5s ease-in-out;
}

.offerImageDIV {
	height: 220px;
	width: 350px;
	/* padding: 10px; */
	border-radius: 10px 10px 0px 0px;
	/* border: 2px solid violet; */
}

.offerImageDIV img {
	height: 100%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.offerPersuasion {
	/* border: 2px solid violet; */
	position: absolute;
	top: 0;
	right: 0;
	/* background-color: rgb(241, 0, 0); */
	background-color: aqua;
	/* color: white; */
	color: black;
	font-size: 1rem;
	padding: 3px 10px;
	border-radius: 0px 10px 0px 0px;
	font-family: "poppins";
	font-weight: 500;
}
.offerTextDIV {
	padding: 5px 12px;
	border-radius: 10px;
}

/* .offerTextDIV p:first-child {
	font-weight: 600;
} */
.headerOfferText {
	font-weight: 600;
	display: inline;
}
.expandedOfferText {
	display: inline;
	font-weight: 400;
}

.offerTextDIV span:nth-child(1) {
	font-weight: 800;
}
