.why-us {
	margin: 10px 10vw;
}
.why-us-Cards {
	position: relative;
	left: 10vw;
	width: 60vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
}
.why-us-DIVCard {
	border: 2px solid #73bcf8;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	text-align: center;
}
