.hotel-search-bar-main-div {
	/* height: 250px; */
	height: max-content;
	width: 100%;
	padding: 20px 10px;
	background-image: linear-gradient(to right, #2f80ed, #56ccf2);
	margin-bottom: 25px;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100vw;
	position: relative;
	top: 80px;
}

.hotel-search-box-div {
	/* border: 2px solid black; */
	margin: auto auto;
	width: 100%;
	max-width: 1100px;
	background-color: white;
	padding: 25px;
	/* set padding to 5px for mobile */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 20px;
	box-shadow: 4px 4px 4px rgb(49 144 140 / 75%);
	border-radius: 6px;
}

.hotel-search-box-div .label-text-user {
	font-size: 14px;
	margin-bottom: 5px;
}
/* #hotel-city-selector {
} */

#hotel-city-selector .MuiTextField-root {
	width: 280px;
	height: 50px;
}
#hotel-city-selector .MuiAutocomplete-root {
	width: 280px;
	height: 50px;
}
#hotel-date-selector,
#hotel-pax-price-selector {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
}

#hotel-date-selector .MuiTextField-root {
	width: 145px;
	height: 50px;
}

#hotel-room-pax-selector {
	height: 84px;
	/* border: 2px solid violet; */
	width: 160px;
	position: relative;
	/* top: -3px; */
}

/* #hotel-room-pax-selector .label-text-user {
	font-size: 14px;
} */

#hotel-pax-div {
	/* border: 2px; */
	margin-top: 7px;
}

#hotel-pax-div .pax-dets-bold {
	font-size: 20px;
	font-weight: 600;
}
#hotel-pax-div .pax-dets-smol {
	font-size: 14px;
}
#hotel-pax-div .pax-details span {
	display: block;
}
#hotel-pax-div .pax-details {
	flex-direction: row;
	column-gap: 5px;
}
#choose-more-hotel-pax {
	background-color: white;
	/* border: 2px solid black; */
	box-shadow: 0 0 3px rgb(0 0 0 / 30%);
	padding: 5px;
	border-radius: 5px;
	background-color: white;
	z-index: 100;
	position: relative;
}
.choose-more-hotel-pax-single-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 7px 0px;
	background-color: white;
	z-index: 100;
	position: relative;
}
.more-hotel-max-rhs {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.more-hotel-max-rhs span {
	border: 1px solid silver;
	padding: 5px;
	height: 30px;
	width: 25px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
}
.more-hotel-max-rhs span:nth-child(2) {
	border-left: none;
	border-right: none;
}

.more-hotel-max-lhs p:first-child {
	font-weight: 600;
}
.more-hotel-max-lhs p:nth-child(2) {
	font-size: 10px;
	color: grey;
}

#dec-btn,
#inc-btn {
	background: #f5f9ff;
}
#inc-btn {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#dec-btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#hotel-room-pax-selector {
	/* box-shadow: 0 0 3px rgb(0 0 0 / 30%); */
}
#hotel-price-range-menu p {
	max-width: 105px;
	font-size: 12px;
	font-weight: 600;
	max-height: 70px;
	/* border: 2px solid black; */
	overflow: hidden;
	padding: 5px;
	cursor: pointer;
	position: relative;
}
#hotel-price-range-currency {
	font-size: 10px;
}
#hotel-price-range-menu div {
	position: absolute;
	height: 100px;
	width: 105px;
	background-color: white;
	box-shadow: 0 0 3px rgb(0 0 0 / 30%);
}

#hotel-price-range-menu ul {
	list-style-type: none;
	font-size: 12px;
	/* font-weight: 600; */
	padding: 0px 5px;
}
#hotel-price-range-menu li {
	margin-top: 5px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}
#hotel-price-range-menu li:hover {
	border-bottom: 1px solid #2f80ed;
}

.hotel-search-bar-main-div .search-button-div {
	position: relative;
	top: -8px;
	left: 0;
}

/* POPULAR HOTEL DESTINATIONS */
.pop-hotels-div {
	margin-bottom: 70px;

	position: relative;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 10px;
	/* background-color: aqua; */
}

.pop-hotels-div .single-destination {
	background: #f6fbff;
	border: 1px solid #2196f3;
	border-radius: 10px;
	padding: 5px;
	display: flex;
	justify-content: flex-start;
	column-gap: 10px;
	width: 360px;
}

.pop-hotels-div .icon-div {
	height: 65px;
	width: 85px;
	border-radius: 5px 0px 0px 5px;
}
.pop-hotels-div .icon-div img {
	height: 100%;
	width: 100%;
	border-radius: 10px 0px 0px 10px;
}
.pop-hotels-div .text-bold {
	font-weight: 600;
}
.pop-hotels-div .text-smol {
	font-size: 12px;
}
.pop-hotels-div .text-smol span:hover {
	cursor: pointer;
	border-bottom: 1px solid #2f80ed;
}
.pop-hotels-div .pop-div-show-btn {
	position: absolute;
	bottom: -50px;
	/* left: 50%; */
}

/* TOP HOTELS CHAIN */
.top-hotels-chain-div #text-content {
	margin-bottom: 20px;
}
.top-hotels-chain-div .image-flex-div {
	margin: auto auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 15px;
	row-gap: 15px;
}

.top-hotels-chain-div .img-div {
	border-radius: 10px;
	height: 110px;
	width: 110px;
	box-shadow: 0 0 7px rgb(0 0 0 / 20%);
}
.top-hotels-chain-div img {
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

/* WHY US  */
.why-us-hotels-div .why-us-Cards {
	justify-content: center;
	column-gap: 15px;
}

.why-us-hotels-div .why-us-DIVCard {
	padding: 10px5px;
	height: 230px;
	width: 250px;
}
.why-us-hotels-div .why-us-Title {
	font-size: 16px;
}
.why-us-hotels-div .why-us-Text {
	font-size: 14px;
}

/* PROMO BANNER */
.hotel-promo-banner {
	margin: 20px 0px;
	height: 290px;
	overflow-y: scroll;
	background: url(../../../public/assests/images/icons/hotelsIcons/bannner-hotel-newht.webp);
	background-size: cover;
	width: 100%;
	position: relative;
	padding: 20px;
	border-radius: 10px;
}
.hotel-promo-banner .background-image {
	width: 100%;
	position: absolute;
	z-index: 10;
}
.hotel-promo-banner .background-image img {
	width: 100%;
}
.hotel-promo-banner .text-content {
	/* position: absolute; */
	z-index: 11;
	color: white;
	width: 70%;
}
.hotel-promo-banner .text-bold {
	font-weight: 600;
	font-size: 24px;
	margin: 10px;
}
.hotel-promo-banner .text-smol {
	margin: 10px;
	font-size: 14px;
}

.hotel-promo-banner::-webkit-scrollbar {
	height: 0px;
	width: 0px;
	border-radius: 25px;
}
.hotel-promo-banner::-webkit-scrollbar-track {
	background: aqua;
}
.hotel-promo-banner::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 30px;
}
.hotel-promo-banner::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}
