.flight-search-home {
	position: relative;
	top: 9.5vh;

	width: 1350px;
	margin: auto auto;

	/* display: flex;
	flex-direction: column; */
}
.search-page-blue-search-box {
	background: linear-gradient(to right, #2f80ed, #56ccf2);
	height: 12vh;
	width: 100%;
	margin: 0;

	/* padding: 0px 12vw; */
}
.flight-search-radio-buttons {
	/* border: 2px solid black; */
	height: min-content;

	width: max-content;
}
