.flight-search-home {
	position: relative;
	top: 75px;
	/* border: 2px solid green; */
	padding-top: 10px;
	width: 1350px;
	height: 135px;
	width: 100vw;
	margin: auto auto;
	background: linear-gradient(to right, #2f80ed, #56ccf2);

	/* display: flex;
	flex-direction: column; */
}
.search-page-blue-search-box {
	/* border: 2px solid green; */
	height: 120px;
	width: 100%;
	width: 1350px;
	margin: auto auto;

	/* padding: 0px 12vw; */
}
.flight-search-radio-buttons {
	/* border: 2px solid black; */
	height: min-content;

	width: max-content;
}
