.parentDiv {
	/* height: 250px; */
	height: max-content;
	width: 100%;
	padding: 20px 10px;
	background-image: linear-gradient(to right, #2f80ed, #56ccf2);
	margin-bottom: 25px;
	border: 2px solid red;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100vw;
	position: relative;
	top: 80px;
}
