.flight-review-header {
	background: linear-gradient(90deg, #c7dffe 0%, #d8f2ff 100%);
	display: flex;
	align-items: center;
	padding: 5px 10px;
}

.flight-review-header #city-names {
	font-weight: 600;
	font-size: 16px;
}

.flight-review-header #smol-details {
	font-size: 12px;
}
