.single-flight-data-container {
	display: flex;
	flex-direction: column;
	/* border: 2px solid black; */
	margin: 10px;
	margin-top: 15px;
	border-radius: 7px;
	justify-content: center;
	padding: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.352);
	transition: all 0.3s ease-out;
}
.single-flight-data-container:hover {
	box-shadow: 0 0 15px 0 rgba(111, 157, 255, 0.873);
	transition: all 0.3s ease-out;
}

.single-flight-data-container div {
	/* border: 2px solid blue; */
	/* height: fit-content; */
}
.single-flight-data-container .top-content {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
}

.single-flight-data-container .flight-logo-name {
	/* border: 2px solid teal; */
	column-gap: 15px;
	padding: 7px;
	height: fit-content;
}
.single-flight-data-container .flight-text-container {
	/* border: 2px solid red; */
}
.single-flight-data-container .flight-logo-container {
	height: 32px;
	width: 32px;
}

.single-flight-data-container .flight-logo-container img {
	height: 100%;
	width: 100%;
}

.single-flight-data-container .flight-text-container {
	font-size: 0.75rem;
}

.single-flight-data-container .flight-text-container p {
	font-size: 12px;
	color: #737373;
}

.single-flight-data-container .arrow-right-direction {
	background-image: url("https://flight.easemytrip.com/Content/img/arow_main.png");
	background-repeat: no-repeat;
	height: 12px;
	width: 110px;
	/* border: 2px solid red; */
}

.single-flight-data-container .flight-booking-button {
	background-color: #ef6614;
	text-shadow: none;
	color: #fff;
	outline: none;
	border: 1px solid transparent;
	border-radius: 40px;
	cursor: pointer;
	line-height: 1.5;
	padding: 6px 12px;

	text-align: center;
	vertical-align: middle;

	font-weight: 600;
	text-transform: uppercase;
	height: 35px;
	width: 120px;
}

.single-flight-data-container .flight-book-seats .seats-remaining {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	color: #2196f3;
	font-size: 0.75rem;
}
.single-flight-data-container .flight-book-seats .low-seats-left {
	color: red;
}
.single-flight-data-container
	.flight-book-seats
	.seats-remaining
	.MuiSvgIcon-root {
	scale: 0.7;
}

.single-flight-data-container .flight-price {
	color: #d63b05;
	padding: 0px 10px;
	font-weight: 600;
	text-align: left;
	line-height: 1.3em;
	font-size: 1.35rem;
	/* border: 2px solid teal; */
}
.single-flight-data-container .flight-price div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* border: 2px solid teal; */
}
.single-flight-data-container .flight-price p {
	color: black;
	font-size: 0.85rem;
	font-weight: 400;
	padding: 0px 10px;
	/* border: 2px solid teal; */
}

.single-flight-data-container .flight-duration-stops {
	/* display: ; */
	flex-direction: column;
}

.single-flight-data-container .fastest {
	color: rgb(12, 192, 153);
	text-shadow: 1px 1px 1px rgb(9, 207, 164);
	font-size: 1.15rem;
	/* border-top: 3px solid rgb(81, 226, 194); */
}
.single-flight-data-container .medium {
	color: rgb(214, 136, 0);
	text-shadow: 1px 1px 1px rgb(245, 166, 34);
	font-size: 1.15rem;
}
.single-flight-data-container .hard {
	color: rgb(229, 52, 66);
	text-shadow: 1px 1px 1px rgb(229, 52, 66);
	font-size: 1.15rem;
}

.single-flight-data-container .departure-time p,
.single-flight-data-container .arrival-time p,
.single-flight-data-container .flight-duration-stops {
	font-size: 0.85rem;
}

.single-flight-data-container .bottom-content {
	/* border-radius: 0px 0px 15px 15px; */
	border-radius: 0px 0px 7px 7px;
	background: #f9f9f9;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	padding: 5px 35px;
	height: 35px;
	cursor: pointer;
	color: #2196f3;
	position: relative;
}

.single-flight-data-container .bottom-content p {
	width: fit-content;
}
.single-flight-data-container .bottom-content p:hover {
	border-bottom: 1px solid #2196f3;
	/* visibility: hidden; */
	/* border-radius: 5px; */
	transition: 0.25s linear;
	/* position: absolute; */
}
