.one-way-flights-list {
	/* border: 3px solid pink; */

	float: right;
	margin-top: 10px;
	width: calc(100% - 310px);
}

/* #one-way-search-page {
	position: relative;
	border: 2px solid violet;
} */
