* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}
.avy {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	height: 110vh;
	border: 2px solid black;
	position: absolute;
	top: 50vh;
	left: 50vw;
}
